<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar perguntas</title>

    <link rel="stylesheet" href="../css/addPergQuestionario.css">
    <link rel="stylesheet" href="../css/bannerProfessor.css">
</head>
<body>
    <header class="teacherContainer">
        <div class="subContainer">
            <h1>Bem vindo(a) Saulo</h1>
            <div class="imgContainer">
                <img src="../images/imagemProfessor.svg" alt="Imagem do professor">
                <p>Professor</p>
            </div>
        </div>
        <div class="subContainer">
            <a href="./iniciarQuestionario.html">Iniciar Questionário</a>
            <a href="./gerQuestionarios.html">Perguntas</a>
            <a href="./gerPerguntas.html">Questionários</a>
            <a href="../../index.html">Sair</a>
        </div>
    </header>

    <div class="container">
        <h1>(Nome do Questionário)</h1>
        <p>Escolha uma pergunta do banco de perguntas <br> (se não aparecer nenhuma pergunta, cadastre no menu "Perguntas")</p>
        <div class="questions">
            <p>O que são metadados?</p>
            <p>Qual o significado de SGBD?</p>
            <p>Assinale a alternativa correta:</p>
        </div>
    </div>
</body>
</html>