<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banner</title>

    <link rel="stylesheet" href="../css/banner.css">
</head>

<body>
    <div class="bannerContainer">
        <header>
            <h1>Peer Instruction</h1>
        </header>
        <main>
            <img src="../images/bgbanner.svg" alt="Estudante segurando um caderno">
        </main>
    </div>
</body>

</html>