<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conclusão - Edição de Pergunta</title>

    <link rel="stylesheet" href="../css/checkEdit.css">
    <link rel="stylesheet" href="../css/bannerProfessor.css">
</head>
<body>
    <header class="teacherContainer">
        <div class="subContainer">
            <h1>Bem vindo(a) Saulo</h1>
            <div class="imgContainer">
                <img src="../images/imagemProfessor.svg" alt="Imagem do professor">
                <p>Professor</p>
            </div>
        </div>
        <div class="subContainer">
            <a href="./iniciarQuestionario.html">Iniciar Questionário</a>
            <a href="./gerQuestionarios.html">Perguntas</a>
            <a href="./gerPerguntas.html">Questionários</a>
            <a href="../../index.html">Sair</a>
        </div>
    </header>

    <div class="container">
        <h1>Tudo Certo!</h1>
        <p>A sua pergunta foi editada com sucesso!</p>
        <img src="../../assets/images/check.svg" alt="Imagem de uma verificação de conclusão">
        <a href="#" class="button">Início</a>
    </div>
</body>
</html>