<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Pergunta</title>

    <link rel="stylesheet" href="../css/criarPerguntas.css">
    <link rel="stylesheet" href="../css/bannerProfessor.css">
</head>
<body>
    <header class="teacherContainer">
        <div class="subContainer">
            <h1>Bem vindo(a) Saulo</h1>
            <div class="imgContainer">
                <img src="../images/imagemProfessor.svg" alt="Imagem do professor">
                <p>Professor</p>
            </div>
        </div>
        <div class="subContainer">
            <a href="./iniciarQuestionario.html">Iniciar Questionário</a>
            <a href="./gerQuestionarios.html">Perguntas</a>
            <a href="./gerPerguntas.html">Questionários</a>
            <a href="../../index.html">Sair</a>
        </div>
    </header>

    <div class="container">
        <h1>Crie uma Pergunta</h1>
        <div class="firstQuestion">
            <p>Qual o enunciado da pergunta?</p>
            <input class="enunciado" type="text" placeholder="Insira o enunciado">
        </div>
        <div class="secondQuestion">
            <p>Qual o tema da pergunta?</p>
            <input class="tema" type="text" placeholder="Insira o tema">
        </div>
        <a href="./criarResposta.html" class="button next">Próximo</a>
    </div>

    <script src="../js/main.js"></script>
</body>
</html>