<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Repsosta</title>

    <link rel="stylesheet" href="../css/bannerProfessor.css">
    <link rel="stylesheet" href="../css/criarResposta.css">
</head>
<body>
    <header class="teacherContainer">
        <div class="subContainer">
            <h1>Bem vindo(a) Saulo</h1>
            <div class="imgContainer">
                <img src="../images/imagemProfessor.svg" alt="Imagem do professor">
                <p>Professor</p>
            </div>
        </div>
        <div class="subContainer">
            <a href="./iniciarQuestionario.html">Iniciar Questionário</a>
            <a href="./gerQuestionarios.html">Perguntas</a>
            <a href="./gerPerguntas.html">Questionários</a>
            <a href="../../index.html">Sair</a>
        </div>
    </header>

    <div class="container">
        <h1>Hora de criar as respostas!</h1>
        <div class="subContainer1">
            <p>Digite aqui a resposta correta:</p>
            <input id="postAnswer1" type="text" placeholder="Digite aqui">
        </div>
        <div class="subContainer2">
            <p>Digite aqui as outras possíveis respostas:</p>
            <input id="postAnswer2" type="text" placeholder="Digite aqui">
            <input id="postAnswer3" type="text" placeholder="Digite aqui">
            <input id="postAnswer4" type="text" placeholder="Digite aqui">
        </div>
        <a href="./checkPergunta.html" class="button" id="allRight">Tudo certo!</a>
    </div>

    <script src="../js/postAnswer.js"></script>
</body>
</html>