<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Questionário</title>

    <link rel="stylesheet" href="../css/criarQuestionario.css">
    <link rel="stylesheet" href="../css/bannerProfessor.css">
</head>
<body>
    <header class="teacherContainer">
        <div class="subContainer">
            <h1>Bem vindo(a) Saulo</h1>
            <div class="imgContainer">
                <img src="../images/imagemProfessor.svg" alt="Imagem do professor">
                <p>Professor</p>
            </div>
        </div>
        <div class="subContainer">
            <a href="./iniciarQuestionario.html">Iniciar Questionário</a>
            <a href="./gerQuestionarios.html">Perguntas</a>
            <a href="./gerPerguntas.html">Questionários</a>
            <a href="../../index.html">Sair</a>
        </div>
    </header>

    <div class="container">
        <h1>Crie seu questionário</h1>
        <div class="firstQuestion">
            <p>Qual é o nome do questionário?</p>
            <input type="text" placeholder="Insira o nome">
        </div>
        <div class="secondQuestion">
            <p>Qual é o tema do questionário?</p>
            <input type="text" placeholder="Insira o tema">
        </div>
        <a href="./addPergQuestionario.html" class="button">Próximo</a>
    </div>
</body>
</html>