<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerencie suas perguntas</title>

    <link rel="stylesheet" href="../css/gerPerguntas.css">
    <link rel="stylesheet" href="../css/bannerProfessor.css">
</head>

<body>
    <header class="teacherContainer">
        <div class="subContainer">
            <h1>Bem vindo(a) Saulo</h1>
            <div class="imgContainer">
                <img src="../images/imagemProfessor.svg" alt="Imagem do professor">
                <p>Professor</p>
            </div>
        </div>
        <div class="subContainer">
            <a href="./iniciarQuestionario.html">Iniciar Questionário</a>
            <a href="./gerQuestionarios.html">Perguntas</a>
            <a href="./gerPerguntas.html">Questionários</a>
            <a href="../../index.html">Sair</a>
        </div>
    </header>

    <main class="container">
        <h1>Gerencie suas perguntas</h1>
        <p>Escolha um questionário</p>
        <div class="subContainer">
            <a class="button" href="./gerQuestionarios.html">Banco de dados 1</a>
            <a class="button" href="./gerQuestionarios.html">Gerência de Projetos</a>
            <a class="button" href="./gerQuestionarios.html">Engenharia de Software</a>
            <a href="./criarQuestionario.html" class="questionContainer button">
                <p>Novo questionário</p>
                <img src="../images/add.svg" alt="">
            </a>
        </div>
    </main>
</body>

</html>