<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Questionário</title>

    <link rel="stylesheet" href="../css/bannerProfessor.css">
    <link rel="stylesheet" href="../css/gerQuestionarios.css">
</head>

<body>
    <header class="teacherContainer">
        <div class="subContainer">
            <h1>Bem vindo(a) Saulo</h1>
            <div class="imgContainer">
                <img src="../images/imagemProfessor.svg" alt="Imagem do professor">
                <p>Professor</p>
            </div>
        </div>
        <div class="subContainer">
            <a href="./iniciarQuestionario.html">Iniciar Questionário</a>
            <a href="./gerQuestionarios.html">Perguntas</a>
            <a href="./gerPerguntas.html">Questionários</a>
            <a href="../../index.html">Sair</a>
        </div>
    </header>

    <main class="container">
        <div class="subContainer1">
            <h1>Cadastre uma pergunta</h1>
            <p>Escolha uma pergunta ou adicione uma nova</p>
        </div>
        <div class="subContainer2">
            <div class="questionContainer1">
                <p>Nova Pergunta...</p>
                <a href="./criarPergunta.html"><img src="../images/add.svg" alt=""></a> 
                <img src="#" alt="">
            </div>
            <div class="questionContainer2">
                <p>O que são metadados?</p>
                <a href="./editPergunta.html"><img src="../images/edit.svg" alt=""></a> 
                <img class="delete" src="../images/delete.svg" alt="">
            </div>
            <!-- <div class="questionContainer">
                <p>Qual o significado de SGBD?</p>
                <a href="./editPergunta.html"><img src="../images/edit.svg" alt=""></a> 
                <img class="delete" src="../images/delete.svg" alt="">
            </div>
            <div class="questionContainer">
                <p>Assinale a alternativa correta:</p>
                <a href="./editPergunta.html"><img src="../images/edit.svg" alt=""></a> 
                <img class="delete" src="../images/delete.svg" alt="">
            </div> -->
        </div>
    </main>

    <script src="../js/deleteQuestion.js"></script>
</body>

</html>