<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="../css/banner.css">
    <link rel="stylesheet" href="../css/login.css">
</head>

<body>
    <header>
        <iframe src="../views/banner.html"></iframe>
    </header>

    <main class="loginContainer">
        <h1 class="titleLogin">Login</h1>
        <input type="text" placeholder="Insira o seu e-mail" />
        <input type="password" placeholder="Insira sua senha" />
        <button type="onSubmit">Entrar</button>
    </main>

</body>

</html>