<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cálculo - Peer Instruction</title>

    <link rel="stylesheet" href="../css/PI70.css">
</head>
<body>
    <h2>De acordo com o cálculo do Peer Instruction, <br> esse foi o resultado da turma:</h2>
    <h2>O acerto da turma foi menor do que 30%, <br>deverá ser feito uma revisão do conceito.</h2>
</body>
</html>