<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posição</title>

    <link rel="stylesheet" href="../css/posicao.css">
    <link rel="stylesheet" href="../css/banner.css">
</head>
<body>
    <header>
        <iframe src="../views/banner.html"></iframe>
    </header>

    <main class="positionContainer">
        <h1>Diga seu nome</h1>
        <input type="text" placeholder="Diga seu nome">
        <div class="line"></div>
        <h1 class="positionTitle">Nos diga a <br /> sua posição</h1>
        <a class="button" href="./gerPerguntas.html">Professor</a>
        <a class="button">Aluno</a>
    </main>
</body>
</html>