<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionário</title>

    <link rel="stylesheet" href="../css/quest.css">
</head>
<body>
    <header>
        <h1 class="getEnunciado"></h1>
        <div class="line"></div>
    </header>
    
    <main>
        <div class="firstContainer">
            <p class="showTime">Tempo: <br><br> (segundos)</p>
            <img src="../images/questExemplo.svg" alt="Imagem ilustrativa de um banco de dados">
            <p>Quantidade de <br> respostas: <br><br> (quantidade)</p>
        </div>
        <div class="secondContainer">
            <a class="button answer" id="answer1"></a>
            <a class="button answer" id="answer2"></a>
            <a class="button answer" id="answer3"></a>
            <a class="button answer" id="answer4"></a>
        </div>
    </main>

    <script src="../js/calcPI.js"></script>
    <script src="../js/putAnswersQuestions.js"></script>
    <script src="../js/countTime.js"></script>
</body>
</html>