<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionário</title>

    <link rel="stylesheet" href="../css/quest.css">
</head>
<body>
    <header>
        <h1>O que são metadados?</h1>
        <div class="line"></div>
    </header>
    
    <main>
        <div class="firstContainer">
            <p>Tempo: <br><br> (segundos)</p>
            <img src="../images/questExemplo.svg" alt="Imagem ilustrativa de um banco de dados">
            <p>Quantidade de <br> respostas: <br><br> (quantidade)</p>
        </div>
        <div class="secondContainer">
            <a href="#" class="button answer">Resposta 1</a>
            <a href="#" class="button answer">Resposta 2</a>
            <a href="#" class="button answer">Resposta 3</a>
            <a href="#" class="button answer">Resposta 4</a>
        </div>
    </main>

    <script src="../js/calcPI.js"></script>
</body>
</html>