<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responder questionário</title>

    <link rel="stylesheet" href="../css/responderQuest.css">
</head>
<body>
    <header>
        <h1 class="user"></h1>
        <div class="firstContainer">
            <img src="../images/imagemProfessor.svg" alt="">
            <p>Aluno</p>
        </div>
        <div class="secondContainer">
            <a href="#">Responder questionário</a>
            <a href="../../index.html">Sair</a>
        </div>
    </header>

    <main>
        <h1>Insira o código para <br> entrar em um questionário</h1>
        <input class="enterCode" type="text" placeholder="Insira o código">
        <a id="goQuest" class="button">Entrar</a>
    </main>

    <script src="../js/main.js"></script>
    <script src="../js/enterCodeRoom.js"></script>
</body>
</html>