@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', monospace;
}

body {
    display: flex;
    gap: 5rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7rem;
}

.container .subContainer1, .container .subContainer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.container .subContainer1 h1, .container .subContainer2 h1 {
    font-weight: bold;
    font-size: 3rem;
}

.container .subContainer1 p, .container .subContainer2 p {
    font-size: 1.1rem;
    opacity: .6;
}

.container .subContainer2 p {
    color: black;
    opacity: 1;
    font-weight: bold;
    background: rgba(128, 128, 128, 0.055);
    padding: .5rem;
    width: 40rem;
    border-radius: .2rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.164);
}

.container .subContainer2 .questionContainer1,.container .subContainer2 .questionContainer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.container .subContainer2 .questionContainer1 img,.container .subContainer2 .questionContainer2 img {
    width: 25px;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.questionContainer2.remove {
    visibility: hidden;
}