@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', monospace;
}

body {
    display: flex;
    gap: 14rem;
}

h1 {
    text-align: center;
    margin-top: 4rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
}

main .showCode {
    font-weight: bold;
    font-size: 3.5rem;
    /* border: 1px solid black; */
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, .3);
}

main .button {
    padding: .8rem 4rem;
    font-weight: bold;
    font-size: 1.3rem;
    color: white;
    background: #5975D8;
    border-radius: .3rem;
    transition: .5s;
    text-decoration: none;
}

main .button:hover {
    cursor: pointer;
    transform: scale3d(1.03, 1.03, 1.03);
    filter: brightness(1.07);
}